/* general style */
.drawer {
  overflow: auto;
  background: whitesmoke;

  --drawer-border-radius: 8px;
}

.drawer-content {
  padding: 0.5%;
}

/* top - mode */
.drawer-top-mode .drawer {
  border-bottom-left-radius: var(--drawer-border-radius);
  border-bottom-right-radius: var(--drawer-border-radius);
}

.drawer-top-mode .drawer.close {
  height: 0% !important;
  overflow: hidden;
}

.drawer-top-mode .drawer.open {
  overflow: auto;

  -webkit-box-shadow: 0px 4px 14px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 14px 4px rgba(0, 0, 0, 0.1);
}

/* bottom - mode */
.drawer-bottom-mode .drawer {
  border-top-left-radius: var(--drawer-border-radius);
  border-top-right-radius: var(--drawer-border-radius);
}

.drawer-bottom-mode .drawer.close {
  height: 0% !important;
  overflow: hidden;
}

.drawer-bottom-mode .drawer.open {
  overflow: auto;

  -webkit-box-shadow: 0px -4px 14px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px -4px 14px 4px rgba(0, 0, 0, 0.1);
}

/* left - mode */
.drawer-left-mode .drawer {
  border-top-right-radius: var(--drawer-border-radius);
  border-bottom-right-radius: var(--drawer-border-radius);
}

.drawer-left-mode .drawer.close {
  width: 0%;
  overflow: hidden;
}

.drawer-left-mode .drawer.open {
  width: 30%;

  -webkit-box-shadow: 2px 0px 14px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 0px 14px 4px rgba(0, 0, 0, 0.1);
}

/* right - mode */
.drawer-right-mode .drawer {
  border-top-left-radius: var(--drawer-border-radius);
  border-bottom-left-radius: var(--drawer-border-radius);
}

.drawer-right-mode .drawer.close {
  width: 0%;
  overflow: hidden;
}

.drawer-right-mode .drawer.open {
  width: 30%;

  -webkit-box-shadow: -2px 0px 14px 4px rgba(0, 0, 0, 0.1);
  box-shadow: -2px 0px 14px 4px rgba(0, 0, 0, 0.1);
}
