/* general style */
.drawer-wrapper-mode-btn {
}

.drawer-top-mode .drawer-wrapper-mode-btn {
  position: absolute;
  top: 0;
  left: 48%;
}

.drawer-bottom-mode .drawer-wrapper-mode-btn {
  position: absolute;
  bottom: 0;
  left: 48%;
}

.drawer-left-mode .drawer-wrapper-mode-btn {
  position: absolute;
  top: 10%;
}

.drawer-right-mode .drawer-wrapper-mode-btn {
  position: absolute;
  top: 10%;
  right: 0px;
}
