/* general style */
.drawer-wrapper-mode-btn {
  /* direction - left | right */
  --horizontal-long-btn-size: 10vh;
  --horizontal-short-btn-size: 5vh;

  /* direction - top | bottom */
  --vertical-long-btn-size: 10vw;
  --vertical-short-btn-size: 5vw;

  padding: 0;
}

/* top - mode */
.drawer-top-mode .drawer-wrapper-mode-btn.short {
  width: var(--vertical-short-btn-size);
  left: calc(50% - (var(--vertical-short-btn-size) / 2));
}

.drawer-top-mode .drawer-wrapper-mode-btn.long {
  width: var(--vertical-long-btn-size);
  left: calc(50% - (var(--vertical-long-btn-size) / 2));
}

.drawer-top-mode .drawer-wrapper-mode-btn {
  position: absolute;
  top: 0;
}

/* bottom - mode */
.drawer-bottom-mode .drawer-wrapper-mode-btn.short {
  width: var(--vertical-short-btn-size);
  left: calc(50% - (var(--vertical-short-btn-size) / 2));
}

.drawer-bottom-mode .drawer-wrapper-mode-btn.long {
  width: var(--vertical-long-btn-size);
  left: calc(50% - (var(--vertical-long-btn-size) / 2));
}

.drawer-bottom-mode .drawer-wrapper-mode-btn {
  position: absolute;
  bottom: 0;
}

.drawer-bottom-mode .drawer-wrapper-mode-btn svg {
  transform: rotate(180deg);
}

/* left - mode */
.drawer-left-mode .drawer-wrapper-mode-btn.short {
  height: var(--horizontal-short-btn-size);
}

.drawer-left-mode .drawer-wrapper-mode-btn.long {
  height: var(--horizontal-long-btn-size);
}

.drawer-left-mode .drawer-wrapper-mode-btn {
  position: absolute;
  top: 10%;
  left: 0px;
}

.drawer-left-mode .drawer-wrapper-mode-btn svg {
  transform: rotate(-90deg);
}

/* right - mode */
.drawer-right-mode .drawer-wrapper-mode-btn.short {
  height: var(--horizontal-short-btn-size);
}

.drawer-right-mode .drawer-wrapper-mode-btn.long {
  height: var(--horizontal-long-btn-size);
}

.drawer-right-mode .drawer-wrapper-mode-btn {
  position: absolute;
  top: 10%;
  right: 0px;
}

.drawer-right-mode .drawer-wrapper-mode-btn svg {
  transform: rotate(90deg);
}
