/* general styles */
.drawer-wrapper-content {
  position: relative;
}

/* top - mode */
.drawer-top-mode .drawer-wrapper-mode-btn {
  position: absolute;
  top: 0;
  left: 48%;
}

.drawer-top-mode .drawer-wrapper-content.close {
  height: 100%;
}

.drawer-top-mode .drawer-wrapper-content.open {
  height: 80%;
}

/* bottom - mode */
.drawer-bottom-mode .drawer-wrapper-mode-btn {
  position: absolute;
  bottom: 0;
  left: 48%;
}

.drawer-bottom-mode .drawer-wrapper-content.close {
  height: 100%;
}

.drawer-bottom-mode .drawer-wrapper-content.open {
  height: 80%;
}

/* left - mode */
.drawer-left-mode .drawer-wrapper-mode-btn {
  position: absolute;
  top: 10%;
}

.drawer-left-mode .drawer-wrapper-content.close {
  width: 100%;
}

.drawer-left-mode .drawer-wrapper-content.open {
  width: 70%;
}

/* right - mode */
.drawer-right-mode .drawer-wrapper-mode-btn {
  position: absolute;
  top: 10%;
  right: 0px;
}

.drawer-right-mode .drawer-wrapper-content.close {
  width: 100%;
}

.drawer-right-mode .drawer-wrapper-content.open {
  width: 70%;
}
